.tabsdemoDynamicTabs md-content {
    background-color: transparent !important;
}

.tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicTabs md-content md-tabs md-tab-content {
    background: #f6f6f6;
}

.tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0;
}

.tabsdemoDynamicTabs md-input-container {
    padding-bottom: 0;
}

.tabsdemoDynamicTabs .remove-tab {
    margin-bottom: 40px;
}

.tabsdemoDynamicTabs .demo-tab > div > div {
    padding: 25px;
    box-sizing: border-box;
}

.tabsdemoDynamicTabs .edit-form input {
    width: 100%;
}

.tabsdemoDynamicTabs md-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabsdemoDynamicTabs md-tab[disabled] {
    opacity: 0.5;
}

.tabsdemoDynamicTabs label {
    text-align: left;
}

.tabsdemoDynamicTabs .long > input {
    width: 264px;
}

.tabsdemoDynamicTabs .md-button.add-tab {
    transform: translateY(5px);
}


/* md-tabs-wrapper{
  display:none;
}
md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper {
   top: 0px;
}
md-pagination-wrapper {
   display:none;
} */

md-tooltip {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom:last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}

md-sidenav ng-md-icon {
    position: relative;
    top: 5px;
}

.none {
    display: none !important;
}

.transparent {
    visibility: hidden
}

.user-avatar {
    border-radius: 99%;
}

.pattern {
    background-color: #269;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
    background-size: 400px 400px, 400px 400px, 70px 65px, 70px 70px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.main {
    background-size: 20px 20px;
    text-align: center;
}

.opacity {
    opacity: 0.5;
}

.md-button.item {
    width: 52px;
    height: 52px;
}

.md-button.square {
    border-radius: 0px;
    background-color: #663399 !important;
}

.md-button.selected {
    background-color: skyblue !important;
}

.md-button.attacable {
    background-color: red !important;
}

body .body {
    padding-top: 70px;
}

.messageView {
    font-size: 12px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    padding: 23px;
    background-color: #000;
    color: #FFF;
    line-height: 25px;
    text-align: left;
}

@font-face {
    font-family: PixelMplus10-Regular;
    src: url('../fonts/PixelMplus10-Regular.ttf') format("truetype");
}

.font-game {
    font-family: PixelMplus10-Regular;
}

.nav-header {
    text-align: center;
    flex-shrink: 0;
    z-index: 2;
}

md-tabs-wrapper {
    top: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.updateImageWrap > img {
    max-height: 100px;
    -o-border-radius: 5px;
    /* 無視する */
    border-radius: 5px;
    /* 無視する */
    -moz-border-radius: 5px;
    /* 認識 */
    -webkit-border-radius: 5px;
    /* 無視する */
    -ms-border-radius: 5px;
    /* 無視する */
}

.updateFullImageWrap > img {
    max-width: 100%;
}

md-virtual-repeat-container {
  position: relative;
  display: block;
  width: 100%;
  height: 70vh;
  border: solid 1px #ccc;
  padding: 10px;
}
