<md-list>
    <md-list flex>
        <md-subheader class="md-no-sticky">Users</md-subheader>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Add Chat</label>
        <input ng-model="newChat.title">
      </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addChat()">
      add Chat
    </md-button>
        <md-list-item class="md-3-line" ng-repeat="(key2, res3) in auth.arrayRef.chats.result | orderBy : $index : true" ui-sref="chat({ key: key2, value:res3 })">
            <div class="md-list-item-text" layout="column">
                <h4>{{ res3.name }}{{key2}}</h4>
            </div>
        </md-list-item>
    </md-list>
</md-list>
