  <div layout-align="center center">
    <span>{{chat.name}}</span>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Add comment</label>
        <input ng-model="comment">
      </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addComment()">
      addComment
    </md-button>
    <div ng-repeat="(commentKey, comment) in chat.comments | orderObjectBy:date:true" class="messageView font-game">
        <span style="font-size:30px">{{comment.detail}}</span><br/>
        <div style="margin-top:5px">{{comment.name}} {{comment.date}}</div>
    </div>
  <div>　
