    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Serch">
        <md-content class="md-padding">
                    <div layout="row">
                        <md-input-container class="md-block chat" flex>
                            <label>Add Chat</label>
                            <input ng-model="title">
                        </md-input-container>
                        <md-button class="md-primary" ng-click="addChat()">
                            add
                        </md-button>
                    </div>
            <md-list>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="chat in chats | orderObjectBy:date:true" ui-sref="chat({ key: chat.primaryKey, value:chat })">
                        <div class="md-list-item-text" layout="column">
                            <h4>{{ chat.title }} {{ chat.name }}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-list>
        </md-content>
      </md-tab>
      <md-tab label="Chats">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="Ignores">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
      <md-tab label="request">
        <md-content class="md-padding">
        </md-content>
      </md-tab>
    </md-tabs>
