<md-list ng-controller="ChatCtrl">
    <md-list flex>
        <md-subheader class="md-no-sticky">Users</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="(key2, res3) in auth.arrayRef.users.result" ng-click="selectStage(key2, res3)">
            <div class="md-list-item-text" layout="column">
                <h4>{{ res3.name }}</h4>
            </div>
        </md-list-item>
    </md-list>
</md-list>
  <div class="messageView font-game" style="font-size:1px;max-width: 100%;box-sizing: border-box;border: 1px solid #cacaca;padding: 23px;" layout-align="center center">
    <span>.md-whiteframe-1dpざあああ</span>
  <div>