<div layout-align="center center">
    <span>{{chat.name}}</span>
    <md-button class="md-fab" ng-disabled="progress">
        <label for="upload_photo">
            Upload
        </label>
    </md-button>
    <input type="file" ng-model="file" id="upload_photo">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Add comment</label>
        <input ng-model="comment">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addComment()">
        addComment
    </md-button>
    <md-button class="md-raised md-primary" ng-click="addComment()">
        addComment
    </md-button>
    <img ng-src="{{chatImageUrl}}">
    <div ng-repeat="(commentKey, comment) in chat.comments | orderObjectBy:date:true" class="messageView font-game">
        <span style="font-size:30px">{{comment.detail}}</span>
        <br/>
        <div style="margin-top:5px">{{comment.name}} {{comment.date}}</div>
    </div>

</div>
