<div layout-align="center center">
    <span>{{chat.name}}</span>
    <md-button class="md-raised md-primary" ng-click="upload()">
      Upload
    </md-button>
    <md-button ng-disabled="progress" >
        <label for="upload_photo">
            Select
        </label>
    </md-button>
    {{file.name}}
    <input type="file" file-model="file" id="upload_photo" style="display:none">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Add comment</label>
        <input ng-model="comment">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="addComment()">
        addComment
    </md-button>
    <md-button class="md-raised md-primary" ng-click="addComment()">
        addComment
    </md-button>
    <div ng-repeat="(commentKey, comment) in chat.comments | orderObjectBy:date:true" class="messageView font-game">
        <span ng-if="comment.detail" style="font-size:30px">{{comment.detail}}</span>
        <span ng-if="comment.imageUrl"><img ng-src="{{comment.imageUrl}}" width="80%"></span>
        <br/>
        <div style="margin-top:5px">{{comment.name}} {{comment.date}}</div>
    </div>

</div>
