<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Debug mode</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <img ng-src="{{strage.getImageRef('lose/lose.png', true)}}" alt="{{strage.getImageRef('lose/lose.png', false, true)}}">
        <pre>
          {{game | json}}
        </pre>
      </md-card-content>
    </md-card>
  </div>
</md-content>