<md-dialog aria-label="Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
             <p>{{locals.title}}</p>
          </h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <h2>
          <p>{{locals.message}}</p>
        </h2>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-warm">
            Close Dialog
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Close Dialog
        </md-button>
    </md-dialog-actions>
</md-dialog>
