<md-button open-dialog="{title:'Dialog', ok:'OK', message:'dialog', isInit:false, templateUrl : 'userList.html', controller : 'GameSubCtrl'}" class="md-fab md-fab-bottom-right" style="position: fixed;" aria-label="Add">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>
<!--縦並び-->
<!--         <div layout="column" role="fotter">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
            </md-icon>
        </md-button>
    </div>
</md-toolbar>
</div> -->