<div class="md-toolbar-tools"
    style="background-color:{{game.selectedTeam.theme.bgColor}};
    color:{{game.selectedTeam.theme.color}};">
  <md-button open-sidebar="left" hide-gt-sm class="md-icon-button">
    <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
    </md-icon>
  </md-button>
  <h2>
    {{header.title}}
    <span ng-if="game.isFinished">WIN</span>
  </h2>
</div>
<md-progress-linear ng-show="loading.isLoding" style="position: fixed;top: 52px;z-index: 2;"md-mode="query"></md-progress-linear>
