<div flex layout="column">
    <md-card md-theme="dark-grey" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">When your turn</span>
                <span class="md-subhead">1. Select your item.</span>
                <span class="md-subhead">2. Select enemy item or empty zoon in the around.</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
    <md-card md-theme="dark-grey" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">When enemy turn</span>
                <span class="md-subhead">1. Wait a minute.</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</div>

