<md-subheader class="md-no-sticky">MAIN</md-subheader>
<span open-sidebar="left">
    <md-list-item ui-sref="help">
        <div class="md-list-item-text" layout="column">HELP</div>
    </md-list-item>
    <md-list-item ui-sref="setting">
        <div class="md-list-item-text" layout="column">SETTING</div>
    </md-list-item>
    <md-list-item ui-sref="index">
        <div class="md-list-item-text" layout="column">INDEX</div>
    </md-list-item>
    <md-list-item ui-sref="battle">
        <div class="md-list-item-text" layout="column">BATTLE</div>
    </md-list-item>
    <md-list-item ui-sref="chatList">
        <div class="md-list-item-text" layout="column">CHAT</div>
    </md-list-item>
</span>
<md-subheader class="md-no-sticky">DEBUG</md-subheader>
<span open-sidebar="left">
    <md-list-item ui-sref="debug">
        <div class="md-list-item-text" layout="column">DEBUG</div>
    </md-list-item>
</span>
