<md-subheader class="md-no-sticky">Fuck</md-subheader>
<span open-sidebar="left">
    <md-list-item class="md-3-line" ui-sref="help">
        <div class="md-list-item-text" layout="column">help</div>
    </md-list-item>
    <md-list-item class="md-3-line" ui-sref="index">
        <div class="md-list-item-text" layout="column">index</div>
    </md-list-item>
    <md-list-item class="md-3-line" ui-sref="debug">
        <div class="md-list-item-text" layout="column">debug</div>
    </md-list-item>
    <md-list-item class="md-3-line" ui-sref="battle">
        <div class="md-list-item-text" layout="column">battle</div>
    </md-list-item>
</span>