<md-list ng-controller="LocalStrageCtrl" sytle="text-align: left;">
    <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
    <md-list-item>
        <p> {{$storage.user.firstName}} </p>
        <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Clickable Items with Secondary Controls</md-subheader>
    <md-list-item ng-click="">
        <p> ssssss </p>
        <md-switch class="md-secondary" ng-model="$storage.test.enabled"></md-switch>
    </md-list-item>
    <md-list-item ng-click="">
        <md-icon md-svg-icon="cached"></md-icon>
        <p>Data Usage</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Name</md-subheader>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>First name</label>
        <input ng-model="$storage.user.firstName">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
        <input ng-model="$storage.user.lastName">
      </md-input-container>
      </div>

    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>
    <md-list-item ng-click="" class="noright">
        <img alt="xxxxxxxxxxx" ng-src="{{storage.urls.win}}" class="md-avatar" />
        <md-checkbox class="md-secondary" ng-model="$storage.test.disabled"></md-checkbox>
        <md-icon md-svg-icon="communication:email" ng-click="" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
    </md-list-item>
</md-list>
